<div class="d-flex justify-content-center">
  <div [hidden]="submitted" style="width: 400px">
    <h3 class="text-center">Criar Sala</h3>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="room.name"
          name="name"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="name">Data</label>
        <input
          type="date"
          class="form-control"
          id="date"
          required
          [(ngModel)]="room.date"
          name="date"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="name">Início</label>
        <input
          type="time"
          class="form-control"
          id="startHour"
          required
          [(ngModel)]="room.startHour"
          name="startHour"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="name">Fim</label>
        <input
          type="time"
          class="form-control"
          id="endHour"
          required
          [(ngModel)]="room.endHour"
          name="endHour"
        />
      </div>
      <br />
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>

  <div [hidden]="!submitted">
    <button class="btn btn-success" (click)="newRoom()">Adicionar</button> -->
  </div>
</div>
